@model IEnumerable<Medicat.Models.Administration>
@{
    ViewData["Title"] = "Past Medications";
}

@{
   var medicines = (IEnumerable<Medicine>)ViewData["Medicines"];
   var patients = (IEnumerable<Patient>)ViewData["Patients"];
}

<h2>Past Medications</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PatientId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicineId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdministrationDate)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.ApplicationUserId)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
               @patients.SingleOrDefault(x => x.Id == item.PatientId)?.Name
               
            </td>
            <td>
                @medicines.SingleOrDefault(x => x.Id == item.MedicineId)?.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dose) @medicines.SingleOrDefault(x => x.Id == item.MedicineId)?.Unit@if(item.Dose > 1){<span>s</span>}               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministrationDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ApplicationUserId)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
