@model IEnumerable<Medicat.Models.Administration>
@{
    ViewData["Title"] = "Index";
}

@{
   var medicines = (SelectList)ViewData["MedicineId"];
   var patients = (SelectList)ViewData["PatientId"];
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PatientId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicineId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdministrationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @patients.SingleOrDefault(x=>x.Value.id == item.Id)?.Name
               
            </td>
            <td>
                @*@medicines.Items.SingleOrDefault(x => x.Id == item.Id)?.Name*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
